<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>demo1演示-thymeleaf的入门</title>
</head>
<body>
<!--
     thymeleaf的通用语法：
      位置：必须在标签的属性位置
       <span 属性位置></span>
      格式：
         th:xxx="${key值}"

      文本显示：
          th:text="${}"


         下面代码编译后结果：
             <span>欢迎来到优就业</span>
            <div>欢迎来到优就业</div>
            <h1>欢迎来到优就业</h1>
      总结：
          将数据输出到标签体内

-->
  <span th:text="${msg}"></span>
  <div th:text="${msg}"></div>
  <h1 th:text="${msg}"></h1>


</body>
</html>